<% layout('layouts/boilerplate.ejs') -%>

    <section class="d-flex flex-wrap gap-3 justify-content-center">
        <% for( let product of products ) { %>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top object-fit-cover" height="200px" src="<%= product.image %>" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= product.name %></h5>
                  <h5 class="card-title">$ <%= product.price %></h5>
                  <p class="card-text"><%= product.desc %></p>
                  <a href="#" class="btn btn-primary btn-sm">Buy Now</a>
                  <form class="d-inline" action="/products/<%= product._id %>?_method=DELETE" method="post">
                    <button class="btn btn-danger btn-sm">Delete</button>
                  </form>

                </div>
            </div>
        <% } %>
    </section>
