<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/blog/new">Add new Blog</a>
    <h1>All Blogs</h1>

    <ul>
        <% for(let blog of blogs) {%>
            <li>
                <h4><%= blog.text %></h4>
                <p><%= blog.username %></p>
                <a href="/blogs/<%= blog.id %>">show</a>
                <form action="/blogs/<%= blog.id %>?_method=DELETE" method="post">
                    <button>delete</button>
                </form>
                <a href="/blogs/<%= blog.id %>/edit">Edit</a>
            </li>
        <% } %>
    </ul>
</body>
</html>